body {
    background: linear-gradient(109.6deg,
            rgb(227, 182, 248) 11.2%,
            rgb(227, 182, 248) 100.2%);
}

.Weather {
    background-color: white;
    border: 2px solid #fcfcfc;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(24, 18, 37, 0.2);
    color: #8130ad;
    padding: 30px;
    margin: 20px auto;
}

.Weather h1 {
    font-size: 40px;
    line-height: 44px;
    margin: 20px 0 0 0;
    color: #8f3aba;
    font-weight: bold;
}

.Weather input {
    padding: 10px 20px;
    border-radius: 25px;
}

.button {
    background-color: #e2b5f0;
    border: none;
}

.Weather ul {
    margin-top: 30px;
    padding: 0;
}

.Weather li {
    display: flex;
    font-size: 16;
}

.Weather img {
    margin: 20px 0px;
    max-width: 100%;
    height: 0 auto;
}

.Weather .temperature {
    color: #212121;
    margin-left: -60px;
    font-size: 80px;
    letter-spacing: -3px;
}

.unit {
    color: #c688f3;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: -32px;
    line-height: 1;
}

.Weather .unit a {
    color: #7432bbf7;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #d624c7;
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
}